<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acer.assignmentcalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PortraitActivity"
            android:label="@string/app_std"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandscapeActivity"
            android:label="@string/app_sct"
            android:parentActivityName=".PortraitActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".PortraitHelpActivity"
            android:label="@string/app_stdhelp"
            android:parentActivityName=".PortraitActivity">
        </activity>
        <activity
            android:name=".LandscapeActivityHelp"
            android:label="@string/app_scthelp"
            android:parentActivityName=".LandscapeActivity">
        </activity>
    </application>

</manifest>